.App {
  background-color: #0A4DA2;
  width: 100vw; 
  height: 812px;
  position: relative;
 /*  position: sticky;
  overflow: hidden; */
}

.CustomPadding{
  padding-left: 24px;
  padding-right: 25.7px;
}

/* HEADINGS */

/* Page title style */
.TitleStyle{
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: -1px;
}

/* Page subtitle style */
.SubTitleStyle{
  font-size: 19px;
  font-weight: bold;
  color: #002D67;
}

/* Control panel Title style */
.ButtonTitleStyle{
  font-size: 19px;
  font-weight: bold;
}

/* Control panel SubTitle style */
.ButtonSubTitleStyle {
  font-size: 13px;
  color: #FFA939;
  font-weight: bold;
}

/*GRADIENT FOR SCENES*/ 

.gradientBirthday{
  background: rgb(255, 155, 155);
  background: linear-gradient(54deg,rgba(255, 155, 155, 1) 14%, rgba(255,188,145,1) 100%);
}
.gradientParty{
  background: rgb(166, 147, 235);
  background: linear-gradient(54deg,rgba(166,147,235,1) 14%, rgba(218,147,235,1) 100%);
}
.gradientRelax{
  background: rgb(147, 202, 235);
  background: linear-gradient(54deg,rgba(147,202,235,1) 14%, rgba(147,221,235,1) 100%);
}
.gradientFun{
  background: rgb(137, 221, 148);
  background: linear-gradient(54deg,rgba(137,221,148,1) 14%, rgba(191,236,146,1) 100%);
}